@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    background: linear-gradient(45deg,#020202,#440d5e);
    
}
.calculator{
    border: 1px solid #717177;
    padding: 20px;
    border-radius: 16px;
    background:transparent;
    box-shadow: 0px 3px 15px rgba(231, 235, 238, 0.8);
}
input{
    width: 320px;
    border:none;
    padding:25px;
    margin:10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(230,235, 238, 0.5);
    font-size: 20px;
    text-align: right;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    
}
input::placeholder{
    color:#ffffff;
    
}
button{
    border:none;
    width:60px;
    height:60px;
    margin: 10px;
    border-radius: 10px;
    background: transparent;
    color:#ffffff;
    box-shadow: 8px 8px 15px rgba(230,235, 238, 0.5);
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;

}
.eqlbtn{
    background: orange;
}
.opbtn{
    color: rgb(3, 65, 3);
    background:rgb(230, 224, 224);
    
}

.p{
   
    position: absolute;
    top:10px;
    left:10px;
    color: #ffffff;
    font-weight: bold;
    font-size:25px;
    

    

}